.col {
    background-color: aqua;
    border-style: solid;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.container_reset{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_button{
    width: 100%;
    display: flex;
    justify-content: left;
}


.parent {
    display: flex;
    justify-content: center;
}

.child {
    width: 50vh;
    margin: 20px;
    justify-content: center;
}

.silang{
    background-image: url("silang.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 80%;
    
}

.lingkaran{
    background-image: url("lingkaran.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 80%;
}
